.star {
  color: var(--text-inverse);
}

.starred {
  color: var(--star);
}

.pop {
  animation: pop 0.2s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
